.footer{
  background: #000000;
  font-size: 64px;
}

.my-8{
  padding-top: 92.5px;
  padding-bottom: 92.5px;

}

.footer-img{
  width: 269px;
}

@media (max-width: 576px) {
  .footer-img{
    width: 160px;
  }
}