.mt-5 {
  margin-top: 3rem !important;
}

.mt-6 {
  margin-top: 3.5rem !important;
}

.mt-7 {
  margin-top: 4rem !important;
}

.mt-8 {
  margin-top: 4.5rem !important;
}

.mt-9 {
  margin-top: 5rem !important;
}

.mt-10 {
  margin-top: 5.5rem !important;
}

.pt-7{
    padding-top: 100px;
}


/* 固定比例，避免拉扯；不支援 aspect-ratio 的瀏覽器可改固定高度 */
.swiper { aspect-ratio: 3 / 5; }

.swiper img {
  width: 600px;
  object-fit: cover;
  display: block;
}
