<!doctype html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title># ZOBAA!</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>

  <%- include('./layout/header-account'); -%>

<main class="pb-5 account-page-bg">
  <div class="container ">
    <!-- 頁首封面 -->
    <div class="cover position-relative mb-60 mb-md-60 mt-20">
      <img src="/assets/images/user/hero.png" alt="cover" class="rounded-3">
          <button class="btn btn-dark btn-sm mt-2 align-item-end position-absolute bottom-0 end-0 fs-6"><i class="bi bi-pencil-fill me-2"></i>更換封面</button>
      <!-- 頭像置中浮出 -->
      <div class="position-absolute start-50 translate-middle-x " style="bottom:-44px;">
        <img src="/assets/images/user/lg-avatar-1.png" class="avatar" alt="Jessica">
        <a class="bg-primary rounded-circle position-absolute bottom-0 end-0" href="#">
                  <span class="material-icons-outlined text-white text-bg p-2 rounded-5"> edit </span>
                </a>
      </div>
    </div>

    <!-- 頭像懸浮樣式 -->
    <div class="text-center mt-5 ">
      <div class="fw-bold fs-5">Jessica</div>
      <div class="text-secondary-40 ">jessica.yen@gmail.com</div>
  
    </div>


<div class="tabs-rail rounded-2 mt-5 mb-6">
  <ul class="nav nav-underline nav-fill tabs-rail-tabs rounded-2" id="profileTabs" role="tablist">
    <li class="nav-item fw-bold my-4" role="presentation">
      <button class="nav-link active" id="tab1-tab"
              data-bs-toggle="tab" data-bs-target="#tab1" type="button"
              role="tab" aria-controls="tab1" aria-selected="true">我的帳號</button>
    </li>
    <li class="nav-item fw-bold my-4" role="presentation">
      <button class="nav-link" id="tab2-tab"
              data-bs-toggle="tab" data-bs-target="#tab2" type="button"
              role="tab" aria-controls="tab2" aria-selected="false">訂單管理</button>
    </li>
    <li class="nav-item fw-bold my-4" role="presentation">
      <button class="nav-link" id="tab3-tab"
              data-bs-toggle="tab" data-bs-target="#tab3" type="button"
              role="tab" aria-controls="tab3" aria-selected="false">我的收藏</button>
    </li>
  </ul>
</div>


    <!-- 內容 -->
    <div class="tab-content container">
      <div class="tab-pane fade show active" id="tab1">
        <div class="card account-card border border-0">
          <div class="card-body p-4 p-md-5">
  <div class="user-content tab-content" id="dashboard-tabContent">
            <div class="tab-pane fade active show" id="dashboard-account" role="tabpanel" aria-labelledby="dashboard-account-tab" tabindex="0">
              <h1 class="fs-lg-3 fs-5 fw-bold mb-4">我的帳號</h1>
              <ul class="nav nav-underline mb-6" id="account-content-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="user-account-tab" data-bs-toggle="pill" data-bs-target="#user-account" type="button" role="tab" aria-controls="user-account" aria-selected="false" tabindex="-1">
                    個人資訊
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="user-guest-tab" data-bs-toggle="pill" data-bs-target="#user-guest" type="button" role="tab" aria-controls="user-guest" aria-selected="true">
                    常用旅客
                  </button>
                </li>
              </ul>
              <div class="account-content-tab tab-content" id="tab-content">
                <div class="tab-pane fade" id="user-account" role="tabpanel" aria-labelledby="user-account-tab">
                  <form action="index.html">
                    <div class="mb-2 fw-bold">
                      <label for="account-name" class="form-label">姓名</label>
                      <input type="text" class="form-control" id="account-name" placeholder="Jessica Yen" readonly="">
                    </div>
                    <div class="mb-2 fw-bold">
                      <label for="account-mail" class="form-label">電子信箱</label>
                      <input type="mail" class="form-control" id="account-mail" placeholder="jessica.yen@gmail.com" readonly="">
                    </div>
                    <div class="mb-2 fw-bold">
                      <label for="account-password" class="form-label">密碼</label>
                      <input type="password" class="form-control" id="account-password" placeholder="************" readonly="">
                    </div>
                    <div class="mb-2 fw-bold">
                      <label for="account-phone" class="form-label">聯絡電話</label>
                      <input type="tel" class="form-control" id="account-phone" placeholder="+886 912-345-678" readonly="">
                    </div>
                    <div class="mb-2 fw-bold">
                      <label for="account-address" class="form-label">地址</label>
                      <input type="text" class="form-control" id="account-address" placeholder="台北市士林區幸福路193號5樓之1" readonly="">
                    </div>
                    <div class="mb-5 fw-bold">
                      <label for="account-birth" class="form-label">生日</label>
                      <input type="datetime" class="form-control" id="account-birth" placeholder="1995-09-20" readonly="">
                    </div>
                    <div class="d-flex justify-content-lg-end">
                      
            <button type="submit" class="w-10 w-lg-auto fw-bold btn btn-lg btn-outline-dark rounded-1">
              <i class="bi bi-pencil-square me-1" aria-hidden="true"></i>
              <span class="btn-label fs-7">編輯資訊</span>
            </button>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade active show" id="user-guest" role="tabpanel" aria-labelledby="user-guest-tab">
                  <div class="guest-content-bg mb-4 rounded-2">
                    <div class="guest-content">
                      <div class="d-flex flex-wrap justify-content-between">
                        <div class="d-flex align-items-center mb-4 mb-lg-0">
                          <img src="/assets/images/user/Ellipse-avatar-1.png" alt="avatar-1" class="rounded-circle border border-primary me-2">
                          <div>
                            <p class="fw-bold mb-lg-2">Jessica Yen</p>
                            <div class="guest-text-display guest-display">
                              <p class="d-flex align-items-center mb-1">
                                <span class="material-icons-outlined fs-7 p-1 align-bottom">
                                  cake </span>Jenny.Linnn@gmail.com
                              </p>
                              <p class="d-flex align-items-center">
                                <span class="material-icons-outlined fs-7 p-1 align-bottom">
                                  mail </span>2001.01.30
                              </p>
                            </div>
                          </div>
                        </div>
                          <!-- 右側操作：預設隱藏，hover 才浮出 -->
                        <div class="d-flex align-items-center">
                          <button class="fw-bold btn btn-lg btn-outline-primary me-1 btn-outline-dark guest-display text-nowrap rounded-1">
                            <span class="material-icons-outlined align-bottom me-1">
                              edit
                            </span>
                            <span>編輯資訊</span>
                          </button>
                          <button class="fw-bold btn btn-lg btn-outline-primary guest-display btn-outline-dark text-nowrap rounded-1">
                            <span class="material-icons-outlined align-bottom me-1">
                              close
                            </span>
                            <span>刪除</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="guest-content-bg mb-6 rounded-2">
                    <div >
                      <div class="d-flex flex-wrap justify-content-between">
                        <div class="d-flex align-items-center mb-4 mb-lg-0">
                          <img src="/assets/images/user/Ellipse-avatar-2.png" width="50" alt="avatar-2" class="rounded-circle border border-primary me-2">
                          <div>
                            <p class="fw-bold mb-lg-2">Jenny Lin</p>
                            <div class="guest-text-display guest-display">
                              <p class="d-flex align-items-center mb-1">
                                <span class="material-icons-outlined fs-7 p-1 align-bottom">
                                  cake </span>Jenny.Linnn@gmail.com
                              </p>
                              <p class="d-flex align-items-center">
                                <span class="material-icons-outlined fs-7 p-1 align-bottom">
                                  mail </span>2001.01.30
                              </p>
                            </div>
                          </div>
                        </div>
                          <!-- 右側操作：預設隱藏，hover 才浮出 -->
                        <div class="d-flex align-items-center">
                          <button class="fw-bold btn btn-lg btn-outline-primary me-1 btn-outline-dark guest-display text-nowrap rounded-1">
                            <span class="material-icons-outlined align-bottom me-1 ">
                              edit
                            </span>
                            <span>編輯資訊</span>
                          </button>
                          <button class="fw-bold btn btn-lg btn-outline-primary guest-display btn-outline-dark text-nowrap rounded-1">
                            <span class="material-icons-outlined align-bottom me-1 ">
                              close
                            </span>
                            <span>刪除</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-lg-end">
                    <button type="submit" class="w-10 w-lg-auto fw-bold btn btn-lg btn-outline-dark rounded-1">
                      <span class="material-icons-outlined align-bottom justify-content-center me-1 ">
                        add
                      </span>
                      新增常用旅客
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>

            <div class="text-end mt-3">

            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade " id="tab2">
        <div class="card border border-0"><div class="card-body">（訂單管理內容…）</div></div>
      </div>
      <div class="tab-pane fade" id="tab3">
        <div class="card border border-0"><div class="card-body">（我的收藏內容…）</div></div>
      </div>
    </div>
  </div>
</main>


  <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>

</body>
</html>
