<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  </head>
  <body>
    <%- include('./layout/header-login'); -%>
<main class="py-7">   
  <div class="d-flex container bg-white pt-7" >
<div class="d-none d-lg-flex align-items-center me-5 d-none d-md-flex">
  
  <div class="swiper swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="/assets/images/login/cover-1.png" width="600px">
      
    </div>
    
  </div>
</div>

<div class="container p-md-0 px-4 ms-5">
  <h2 class="h1 mb-2 fw-500 fs-3">歡迎回來！</h2>

<a class="text-neutral-80 w-100 d-flex align-items-center p-3 rounded-1 login-btn border border-1 mb-4" href="login.html">
  <img src="/assets/images/login/ic_google.svg" width="20" height="20" alt="Google">
  <span class="flex-grow-1 text-center ">使用 Google 帳號登入</span>
  <span class="invisible" style="width:20px;height:20px;">.</span>
</a>
<a class="text-neutral-80 w-100 d-flex align-items-center p-3 rounded-1 login-btn border border-1 mb-4" href="login.html">
  <img src="/assets/images/login/ic_facebook.svg" width="20" height="20" alt="Facebook">
  <span class="flex-grow-1 text-center">使用 Facebook 帳號登入</span>
  <span class="invisible" style="width:20px;height:20px;">.</span>
</a>

<a class="text-neutral-80 w-100 d-flex align-items-center p-3 rounded-1 login-btn border border-1 mb-5" href="login.html">
  <img src="/assets/images/login/ic_apple.svg" width="20" height="20" alt="Apple">
  <span class="flex-grow-1 text-center ">使用 Apple 帳號登入</span>
  <span class="invisible" style="width:20px;height:20px;">.</span>
</a>


  <h2 class="title mb-3 fs-9 fw-bold">或使用 ZOBAA 帳號登入</h2>

  <div class="mb-3 text-neutral-80">
    <label for="" class="form-label">電子信箱<span class="ms-25 text-danger">*</span></label>
    <input type="email" class="form-control" name="" id="" aria-describedby="helpId" placeholder="請輸入電子信箱">
  </div>

  <div class="mb-3 text-neutral-80">
    <label for="" class="form-label">密碼<span class="ms-25 text-danger">*</span></label>
    <input type="password" class="form-control" name="" id="" aria-describedby="helpId" placeholder="請輸入密碼">
  </div>

  <div class="d-flex justify-content-between mb-125">
    <div class="form-check pb-5 text-neutral-80">
      <input class="form-check-input" type="checkbox" value="" id="">
      <label class="form-check-label body" for=""> 記住帳號</label>
    </div>
    <a href="#" class="body ">忘記密碼？</a>
  </div>

  <a name="" id="" class="btn py-1 text-center w-100 py-3 mb-2 bg-natural-85 fw-bold text-natural-60" href="#" role="button">立即登入</a>

  <div class="d-flex mb-3">
    <p class="body fs-9 text-neutral-80">沒有 ZOBAA 帳號嗎？</p>
    <a href="register.html" class="fw-bold text-primary-100 text-decoration-underline fs-9">立即註冊</a>
  </div>

</div>
</div>
</div>      
</main>

    <%- include('./layout/footer'); -%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script type="module" src="../main.js"></script>

</html>
